fastapi==0.115.8
uvicorn[standard]==0.34.0
SQLAlchemy==2.0.38
python-dotenv==1.0.1
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
pydantic[email]==2.10.6
psycopg2-binary==2.9.10
alembic==1.18.4
